{% extends 'dashboard/layouts/app.html' %}
{% load static %}

{% block titulo %}Eliminar DemCarac{% endblock titulo %}

{% block extracss %}
<!-- Sweet Alert -->
<link href="{% static 'plugins/sweet-alert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css">
{% endblock extracss %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Eliminar DemCarac</h4>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">

                <form method="POST" class="form-horizontal">
                    {% csrf_token %}

                    <h4>¿Desea eliminar el registro "Bloque {{ datos.bloque }}"?</h4>

                    <div class="form-group row m-t-20">
                        <div class="col-12 text-right">
                            <a href="{% url 'dashboard:demcarac_list' %}" class="btn btn-light waves-effect">Cancelar</a>
                            <button class="btn btn-danger waves-effect waves-light" type="submit">Eliminar</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock content %}

{% block extrajs %}
<!-- Sweet-Alert  -->
<script src="{% static 'plugins/sweet-alert2/sweetalert2.min.js' %}"></script>
<script src="{% static 'pages/sweet-alert.init.js' %}"></script>
{% endblock extrajs %}