{% extends 'dashboard/layouts/app.html' %}
{% load static %}

{% block titulo %}Importar archivo{% endblock titulo %}

{% block extracss %}
{% endblock extracss %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Importar archivo</h4>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">

                <form method="POST" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Archivo (.XLSX)</label>
                        <div class="col-sm-10">
                            <input type="file" name="file" class="form-control">
                        </div>
                    </div>

                    <p>
                        Debe verificar que el archivo (XLSX) cuente con las columnas indicadas ejemplo: <strong>col1, col2, col3.. coln</strong> adicional a eso solo debe tener las columnas fijas es decir sin tener columnas con operaciones.
                    </p>

                    <div class="form-group row m-t-20">
                        <div class="col-12 text-right">
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit"><i class="mdi mdi-upload"></i> Importar</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock content %}

{% block extrajs %}
{% endblock extrajs %}