{% extends 'dashboard/layouts/app.html' %}
{% load static %}

{% block titulo %}Plantas existentes{% endblock titulo %}

{% block extracss %}
{% endblock extracss %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Plantas existentes</h4>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">

                <form method="POST" class="form-horizontal">
                    {% csrf_token %}

                    <div class="form-group row">
                        <label for="demcarac-bloque-input" class="col-sm-2 col-form-label">agente</label>
                        <div class="col-sm-10">
                            {{ form.agente }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="demcarac-duracion-input" class="col-sm-2 col-form-label">planta</label>
                        <div class="col-sm-10">
                            {{ form.planta }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="demcarac-restup-input" class="col-sm-2 col-form-label">tipo</label>
                        <div class="col-sm-10">
                            {{ form.tipo }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="demcarac-restdn-input" class="col-sm-2 col-form-label">dc_ndc</label>
                        <div class="col-sm-10">
                            {{ form.dc_ndc }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="demcarac-restdn-input" class="col-sm-2 col-form-label">clasificacion</label>
                        <div class="col-sm-10">
                            {{ form.clasificacion }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="demcarac-restdn-input" class="col-sm-2 col-form-label">contratos</label>
                        <div class="col-sm-10">
                            {{ form.contratos }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="demcarac-restdn-input" class="col-sm-2 col-form-label">enficc_verificada</label>
                        <div class="col-sm-10">
                            {{ form.enficc_verificada }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="demcarac-restdn-input" class="col-sm-2 col-form-label">enficc_no_comprometida</label>
                        <div class="col-sm-10">
                            {{ form.enficc_no_comprometida }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="demcarac-restdn-input" class="col-sm-2 col-form-label">fecha_inicio_vigencia_enficc</label>
                        <div class="col-sm-10">
                            {{ form.fecha_inicio_vigencia_enficc }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="demcarac-restdn-input" class="col-sm-2 col-form-label">fecha_fin_vigencia_enficc</label>
                        <div class="col-sm-10">
                            {{ form.fecha_fin_vigencia_enficc }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="demcarac-restdn-input" class="col-sm-2 col-form-label">combustibles_declarados</label>
                        <div class="col-sm-10">
                            {{ form.combustibles_declarados }}
                        </div>
                    </div>

                    <div class="form-group row m-t-20">
                        <div class="col-12 text-right">
                            <a href="{% url 'dashboard:planta_list' %}" class="btn btn-light waves-effect">Cancelar</a>
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Guardar</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock content %}

{% block extrajs %}
{% endblock extrajs %}