{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block titulo %}{% endblock titulo %}</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'plugins/morris/morris.css' %}">
    {% block extracss %}
    {% endblock extracss %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/metismenu.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        {% include 'dashboard/elements/top_bar.html' %}
        <!-- Top Bar End -->

        <!-- Left Sidebar Start -->
        {% include 'dashboard/elements/left_sidebar.html' %}
        <!-- Left Sidebar End -->

        <!-- Start right Content here -->
        <div class="content-page">

            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">

                    <!-- Error messaging -->
                    {% if form.errors %}
                    <div id="errors" class="pt-3">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p>Hubo algunos errores en la información que ingresó. Por favor, corrija lo siguiente:</p>
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li>{{ field.label }}: <strong>{{ field.errors|striptags }}</strong></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <!-- /Error messaging -->

                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
            <!-- content -->

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->

    <!-- jQuery  -->
    <script src="{% static 'js/jquery.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'js/metisMenu.min.js' %}" ></script>
    <script src="{% static 'js/jquery.slimscroll.js' %}" ></script>
    <script src="{% static 'js/waves.min.js' %}" ></script>

    <script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.min.js' %}" ></script>

    <!--Morris Chart-->
    <script src="{% static 'plugins/morris/morris.min.js' %}" ></script>
    <script src="{% static 'plugins/raphael/raphael-min.js' %}" ></script>
    <script src="{% static 'pages/dashboard.js' %}" ></script>

    <!-- App js -->
    <script src="{% static 'js/app.js' %}" ></script>
    {% block extrajs %}
    {% endblock extrajs %}
</body>
</html>